.custom-green-bg {
    background-color: #004d00; /* Code couleur pour le vert foncé */
}

#carouselHero .carousel-item img {
    object-fit: cover;
    object-position: center;
    max-height: 50vh;
    overflow: hidden;
}